// Global imports
@import "breakpoint";
@import "flexbox";
@import "base";
@import "kinja_fonts";

// Project imports

$green: #729418;
$tan: #F1F2E7;

h4 {
  margin: 0 0 10px;
  font-family: Georgia;
  font-weight: normal;
  font-size: 24px;
  border-top: 1px solid black;
  padding: 10px 0;
}
.tabs {
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-content(stretch);
  @include justify-content(space-between);
  font-family: ProximaNovaCond;
  font-weight: normal;
  &.svgs {
    .pair {
      cursor: pointer;
      @include flex(1 1 auto);
      max-width: 20%;
      .amount {
        font-size: 20px;
        min-width: auto;
        min-height: auto;
        background: none;
        border-radius: none;
        padding-top: 8px;
      }
    }
    .active {
      .pie {
        fill: $green;
      }
      .amount {
        color: $green;
      }
    }
  }
  .option {
    @include flex(1 1 auto);
    max-width: 32%;
    text-align: center;
    padding: 13px;
    margin: 0 0 30px;
    cursor: pointer;
    background: $tan;
    font-size: 20px;
    &.active {
      color: white;
      background: $green;
    }
  }
  .amount {
    @include flex(1 1 auto);
    // @include flexbox;
    // @include justify-content(middle);
    background: $tan;
    min-width: 65px;
    min-height: 65px;
    font-size: 28px;
    border-radius: 50%;
    text-align: center;
    // padding: 5px;
    padding: 16px 0 0;
    margin-bottom: 30px;
    cursor: pointer;
    &.active {
      color: white;
      background: $green;
    }
  }
}

.ingredients {
  @include flexbox;
  @include flex-direction(row);
  h5 {
    font-family: ProximaNovaCond;
    font-weight: normal;
    font-size: 16px;
    margin: 5px 0;
  }
  .list {
    width: 50%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  textarea {
    resize: none;
    width: 100%;
    outline: none;
    border: none;
    background: $tan;
    &::-webkit-input-placeholder {
       color: black;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: black;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: black;
    }

    &:-ms-input-placeholder {
       color: black;
    }
  }
  .results {
    background: $green;
    color: white;
  }
  textarea, .results {
    min-height: 200px;
    font-family: ProximaNovaCond;
    font-size: 18px;
    padding: 20px;
  }
}
.pan {
  @include flexbox;
  @include flex-direction(row);
  font-family: ProximaNovaCond;
  margin-bottom: 30px;
  .size {
    // border-left: 1px solid black;
  }
  div {
    width: 50%;
    .rect, .round {
      cursor: pointer;
      background: $tan;
      margin: 20px 40px 20px 0;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      padding: 42px 30px;
      font-size: 20px;
      &.active {
        background: $green;
        color: white;
      }
    }
    .rect {
      // outline: 3px solid white;
    }
    .round {
      border-radius: 50%;
    }
  }
  h5 {
    margin: 0;
    font-size: 16px;
  }
  .border {
    border-left: 1px solid black;
    width: 100%;
  }
  .push {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pan.size {
    @include flexbox;
    @include flex-direction(column);
    .measurement, .container {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(space-between);
      width: 100%;
    }
    .measurement {
      margin: 3px 0 10px;
      &.last {
        margin-bottom: 0;
      }
      .inches {

      }
      .by, .inches {
        @include flex(1 1 80px);
        text-align: center;
        @include align-items(center);
        @include flexbox;
        @include justify-content(center);
        font-size: 35px;
        padding: 0;
        margin: 0;
      }
      .by {
        &::after {
          content: "×";
        }
      }
      input {
        outline: none;
        border: none;
        font-size: 28px;
        padding: 10px;
        width: 100%;
        text-align: center;
        @include flex(2 1 auto);
        &.original {
          background: $tan;
        }
        &.actual {
          background: $green;
          color: white;
        }
      }
    }
  }
}
