// Global imports
@import "breakpoint";
@import "flexbox";
@import "base";
@import "kinja_fonts";
@import "font_smoothing";

// Project imports

$green: #729418;
$tan: #F1F2E7;
$black: #333;
$gray: #AFAFAF;

body {
  color: $black;
  @include font-smoothing;
  padding: 0;
  margin: 0;
}

h4 {
  margin: 0 0 10px;
  font-family: Georgia;
  font-weight: normal;
  font-size: 24px;
  border-top: 1px solid $black;
  padding: 6px 0 10px;
}
.tabs {
  @include flexbox;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-content(stretch);
  @include justify-content(space-between);
  font-family: ProximaNovaCond;
  font-weight: normal;
  &.svgs {
    .pair {
      cursor: pointer;
      @include flex(1 1);
      max-width: 20%;
      .amount {
        font-size: 19px;
        min-width: auto;
        min-height: auto;
        background: none;
        border-radius: none;
        padding-top: 8px;
        margin: 0 0 40px;
      }
    }
    .active {
      .pie {
        fill: $green;
      }
      .amount {
        color: $green;
      }
    }
  }
  .option {
    @include flex(1 1);
    max-width: 32%;
    text-align: center;
    padding: 13px;
    margin: 0 0 40px;
    cursor: pointer;
    background: $tan;
    font-size: 19px;
    &.active {
      color: white;
      background: $green;
    }
  }
  .amount {
    // @include flex(1 1);
    // @include flexbox;
    // @include justify-content(middle);
    background: $tan;
    min-width: 65px;
    min-height: 65px;
    font-size: 26px;
    border-radius: 50%;
    text-align: center;
    // padding: 5px;
    padding: 19px 0 0;
    margin-bottom: 30px;
    cursor: pointer;
    &.active {
      color: white;
      background: $green;
    }
  }
}

h5 {
  font-family: ProximaNovaCond;
  font-weight: normal;
  font-size: 16px;
}

textarea, input {
  outline: none;
  border: none;
  background: white;
  border: 1px solid $black;
  font-family: ProximaNovaCond;
  font-weight: normal;
  -webkit-appearance: none;
  border-radius: 0;
}

.ingredients {
  @include flexbox;
  @include flex-direction(row);
  h5 {
    margin: 5px 0;
  }
  .list {
    width: 50%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  textarea {
    resize: none;
    width: 100%;
    padding: 19px;
    &::-webkit-input-placeholder {
       color: $green;
       font-size: 16px;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: $green;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $green;
    }

    &:-ms-input-placeholder {
       color: $green;
    }
  }
  .results {
    background: $tan;
    padding: 20px;
  }
  textarea, .results {
    min-height: 100px;
    font-family: ProximaNovaCond;
    // font-family: Georgia;
    font-size: 18px;
  }
}
.pan {
  @include flexbox;
  @include flex-direction(row);
  font-family: ProximaNovaCond;
  margin-bottom: 40px;
  margin-top: -10px;
  .size {
    // border-left: 1px solid $black;
  }
  .shapes {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(center);
  }
  div {
    width: 50%;
    .rect, .round {
      cursor: pointer;
      background: $tan;
      width: 50%;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      @include flex(0 0 auto);
      font-size: 20px;
      margin: 20px 20px 0 0;
      text-align: center;
      &.active {
        background: $green;
        color: white;
      }
    }
    .rect {
      width: 130px;
      height: 130px;
    }
    .round {
      border-radius: 50%;
      width: 140px;
      height: 140px;
    }
  }
  h5 {
    margin: 0;
    margin-bottom: 4px;
  }
  .border {
    border-left: 1px solid $black;
    width: 100%;
  }
  .push {
    padding-left: 25px;
    margin-left: 5px;
    padding-right: 5px;
  }
  .size {
    @include flexbox;
    @include flex-direction(column);
    .measurement, .container {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(space-between);
      width: 100%;
    }
    .measurement {
      margin: 0 0 22px;
      &.last {
        margin-bottom: 0;
      }
      .inches {

      }
      .by, .inches {
        @include flex(1 1 55px);
        text-align: center;
        @include align-items(center);
        @include flexbox;
        @include justify-content(center);
        font-size: 35px;
        padding: 0;
        margin: 0;
      }
      .by {
        padding: 0 15px;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        svg {
          width: 100%;
          height: auto;
        }
        // &::after {
        //   content: "×";
        // }
      }
      input {
        // color: $black;
        // font-weight: normal;
        // font-family: ProximaNovaCond;
        outline: none;
        border: none;
        font-size: 22px;
        padding: 10px 8px 6px;
        width: 100%;
        text-align: center;
        @include flex(2 1 auto);
        &.original {
          background: $tan;
        }
        &.actual {
          background: $green;
          color: white;
        }
      }
    }
  }
}

.print {
  cursor: pointer;
}

h3.interactive {
  text-transform: uppercase;
  padding-bottom: 8px;
  font-family: ProximaNovaCond;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #222;
  margin-bottom: 0;
  margin-top: 20px;
  // font-weight: normal;
  // color: $blue;
}


$factor_num: 80px;
@media (max-width: 480px) {
  .hide_mobile {
    display: none;
  }
  h5 {
    padding-right: 25px;
    font-size: 18px;
  }
  .tabs {
    .option {
      max-width: 32%;
    }
    .num_container {
      width: $factor_num;
      height: $factor_num;
      margin-bottom: 20px;
    }
    .amount {
      min-width: $factor_num;
      min-height: $factor_num;
      margin-bottom: 20px;
      padding-top: 24px;
    }
  }
  .pan div {
    .rect, .round {
      font-size: 14px;
    }
  }
}
